name: "Frogbot Scan Repository"
on:
  workflow_dispatch:
  schedule:
    # The repository will be scanned once a day at 00:00 GMT.
    - cron: "0 0 * * *"
permissions:
  contents: write
  pull-requests: write
  security-events: write
  # [Mandatory If using OIDC authentication protocol instead of JF_ACCESS_TOKEN]
  id-token: write
jobs:
  scan-repository:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The repository scanning will be triggered periodically on the following branches.
        branch: ["main"]
    steps:    
      - name: Checkout
        uses: actions/checkout@v4     
      - name: Frogbot    
        uses: jfrog/frogbot@v2
        with:
          oidc-provider-name: "joestack/npm-demo@github"
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_GIT_TOKEN: ${{ secrets.JF_GIT_TOKEN }}
          #JF_GIT_BASE_BRANCH: ${{ matrix.branch }}    # For repository scan action
          JF_WATCHES: "w-critical"