name: "Frogbot Scan Pull Request"
on:
  pull_request_target:
    types: [opened, synchronize] # Triggers scan-pr flow for every opened/updated pull request
    # branches:
    #   - main
permissions:
  pull-requests: write
  contents: read 
  # [Mandatory If using OIDC authentication protocol instead of JF_ACCESS_TOKEN]
  id-token: write
jobs:
  scan-pull-request:
    runs-on: ubuntu-latest
    # A pull request needs to be approved before Frogbot scans it. Any GitHub user who is associated with the
    # "frogbot" GitHub environment can approve the pull request to be scanned.
    environment: frogbot
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: joestack/npm-demo@github

      - name: Setup Node npm
        uses: actions/setup-node@v3
           
      - name: Set CLI Config
        run: jf npm-config --global=true --repo-resolve=npm-demo-npm --repo-deploy=npm-demo-npm
           
      - name: Install Deps
        working-directory: ./src
        run: jf npm install
 
      - uses: jfrog/frogbot@v2
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_GIT_TOKEN: ${{ secrets.JF_GIT_TOKEN }}
          #NEW
          #JF_WATCHES: "w-critical"
          #JF_FAIL: false
          # Security Settings
          JF_MIN_SEVERITY: "critical"
          JF_FAIL_ON_SECURITY_ISSUES: "false"
          #JF_WATCHES: "w-critical"
          JF_INCLUDE_ALL_VULNERABILITIES: "true"
          JF_FAIL: "false"
        with:
          oidc-provider-name: "joestack/npm-demo@github"