name: "npm-demo"

on:
  push: # Triggers scan-repo flow for every push to the specified branches
    branches:
      - main
    paths:
      - 'src/**'
      - 'Dockerfile'

permissions:
  pull-requests: write
  contents: read
  security-events: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     # The repository scanning will be triggered periodically on the following branches.
    #     branch: ["main"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: joestack/npm-demo@github

      - name: JFrog CLI Test
        run: |
          jf rt ping

      - name: Authenticate Docker Repo
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.JF_URL }}
          username: ${{ steps.setup-cli.outputs.oidc-user }}
          password: ${{ steps.setup-cli.outputs.oidc-token }}

      - name: Scan Source configured
        run: |
          jf audit \
            --watches "w-critical" \
            --extended-table \
            --sast --sca --secrets \
            --npm \
            --sbom \
            --format=table > scan-result-audit 

      - name: Push Source Code Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: source-code-scan
          path: scan-result-audit


      - name: Setup Node npm
        uses: actions/setup-node@v3
           
      - name: Set CLI Config
        run: jf npm-config --global=true --repo-resolve=npm-demo-npm --repo-deploy=npm-demo-npm
           
      - name: Install Deps
        working-directory: ./src
        run: jf npm install

      - name: Start App
        working-directory: ./src
        run: |
           npm start &
           npx wait-on http://localhost:3000 -t 30000
           
      - name: Run tests
        working-directory: ./src
        run: npm test
         
      - name: Publish
        working-directory: ./src
        run: jf npm publish

      - name: Build Docker Image
        working-directory: ./
        env:
          IMAGE_NAME: joefrog.jfrog.io/npm-demo-docker/nodejs-demo-image:${{ github.run_number }}
        run: |
          jf docker build -t $IMAGE_NAME .

      - name: Scan Docker Image
        working-directory: ./
        env:
          IMAGE_NAME: joefrog.jfrog.io/npm-demo-docker/nodejs-demo-image:${{ github.run_number }}
        run: |
          jf docker scan $IMAGE_NAME \
            --format=json  > scan-result-image.json \
            --watches "w-critical" \
            --detailed-summary \
            --licenses

      - name: Push Docker Image
        working-directory: ./
        env:
          IMAGE_NAME: joefrog.jfrog.io/npm-demo-docker/nodejs-demo-image:${{ github.run_number }}
        run: |
          jf docker push $IMAGE_NAME


      - name: Push Scan Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: scan-results-image
          path: scan-result-image.json


      # # - name: scan
      # #   working-directory: ./src
      # #   run: |
      # #     jf scan .


      - name: Publish Build info With JFrog CLI
        working-directory: ./src
        # env:
        #   JFROG_CLI_BUILD_NAME: npm-demo
        run: |
          # Collect environment variables for the build
          jf rt build-collect-env
          # Collect VCS details from git and add them to the build
          jf rt build-add-git
          # Publish build info
          jf rt build-publish --detailed-summary --env-include="*"

      - name: Wait 30s for Indexing
        run: |
          sleep 30

      - name: Buld scan
        run: |
          jf build-scan # Build Info in GitHub Summary: Security Issues
